/* neumorphism-ui/_base.css */
@import './_variables.css';
@import url('https:////at.alicdn.com/t/c/font_4882498_fyrbsc1y9c.css'); /* Import icon-font*/

/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; /* Neumorphism often relies on shadows, not borders */
}

html {
  font-size: 16px; /* Base font size */
}

body {
  /* Font Setting */
  font-family: var(--neum-font-family);
  line-height: 1;
  /* Global Color Setting */
  background-color: var(--baseColor);
  color: var(--textNormal);
  transition: background-color var(--neum-transition-speed) ease, color var(--neum-transition-speed) ease;
  /* Render Setting */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* Layout Setting */
  min-height: 100vh;
  max-width: 100vw;
  /* Scroll Setting */
  overflow-x: hidden;
}

body::-webkit-scrollbar { 
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  width: 0 !important 
}

/* Basic element styling */
a, code {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

span {
  display: inline-block;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  all: unset; /* Reset button styles */
  cursor: pointer;
  display: inline-block; /* Ensure button behaves like an inline block */
}

input,
textarea,
select {
  font: inherit; /* Inherit font styles */
  background: none;
  border: none;
  outline: none;
}

