/* neumorphism-ui/_panel.css */
@import "./_variables.css";

/* General Panel Style (Flat) */
/* This can be used for general content areas, sidebars, etc. */
.neum-panel {
  border-radius: var(--radius);
  background: var(--baseColor);
  transition: box-shadow var(--neum-transition-speed) ease;

  /* Default Convex Shadow */
  box-shadow: var(--positionX) var(--positionY) var(--blur) var(--darkColor),
    var(--positionXOpposite) var(--positionYOpposite) var(--blur)
      var(--lightColor);
}

/* Optional: Inset Panel Style (Pressed) */
.neum-panel--inset {
  border-radius: var(--radius);
  background: var(--baseColor);
  transition: box-shadow var(--neum-transition-speed) ease;

  /* Inset Shadow */
  box-shadow: inset var(--positionX) var(--positionY) var(--blur)
      var(--darkColor),
    inset var(--positionXOpposite) var(--positionYOpposite) var(--blur)
      var(--lightColor);
}
