h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    font-weight: 400;
    line-height: 62px;
  }
  
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
  }
  
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  
  p {
    margin-top: 10px;
  }
  
  a {
    color: #1a1b1f;
    text-decoration: underline;
    transition: opacity .2s;
    display: block;
  }
  
  a:hover {
    color: #32343a;
  }
  
  a:active {
    color: #43464d;
  }
  
  ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    list-style-type: disc;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  img {
    display: block;
  }
  
  label {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
  
  blockquote {
    border-left: 5px solid #e2e2e2;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px 30px;
    font-size: 20px;
    line-height: 34px;
  }
  
  figure {
    margin-top: 25px;
    padding-bottom: 20px;
  }
  
  figcaption {
    opacity: .6;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    line-height: 26px;
  }