@import './base.css';
@import url('https:////at.alicdn.com/t/c/font_4882498_fyrbsc1y9c.css');

a, code {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

span {
  display: inline-block;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 11.5740740741vw 4.1666666667vw;
}

section.--g {
  background: #f4f4f4;
}

img, svg {
  display: block;
  max-width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  background: none;
  border: none;
  outline: none;
}

.tag {
  align-items: center;
  display: inline-flex;
  font: 900 .625rem Moderat, sans-serif;
  gap: .625rem;
  justify-content: center;
  letter-spacing: .02em;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

.tag:before {
  background: #181717;
  border-radius: 25%;
  content: "";
  display: block;
  height: .625rem;
  width: .625rem;
}

.icon {
  aspect-ratio: 1;
  position: relative;
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  /* margin: 0 15px; */
}

button:hover {
  text-decoration: underline;
}

.wysiwyg-content {
  display: grid;
  grid-gap: 1.2em;
}
