@import './base.css';

ol, ul {
  list-style: none;
}

span {
  display: inline-block;
}

section.--g {
  background: #f4f4f4;
}

.tag {
  align-items: center;
  display: inline-flex;
  font: 900 .625rem Moderat, sans-serif;
  gap: .625rem;
  justify-content: center;
  letter-spacing: .02em;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

.tag:before {
  background: #181717;
  border-radius: 25%;
  content: "";
  display: block;
  height: .625rem;
  width: .625rem;
}
