section {
    width: 100%;
    min-height: 100vh;
    padding: 11.5740740741vw 4.1666666667vw;
}

.text-to-animate {
    display: inline;
    margin-top: 300px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}